#wpadminbar .quicklinks #wp-admin-bar-switch-db-dropin .ab-icon { margin-top: 2px; }
#wpadminbar .quicklinks #wp-admin-bar-switch-db-dropin .ab-sub-wrapper.keep-open { display: block; }
#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default > #wp-admin-bar-switch-db-dropin .ab-submenu .ab-item input { display: none; }
#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default > #wp-admin-bar-switch-db-dropin .ab-submenu .ab-icon { float: none; }
#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default > #wp-admin-bar-switch-db-dropin .ab-submenu input + .ab-icon:before { display: none; content: "\f460"; }
#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default > #wp-admin-bar-switch-db-dropin.switching > .ab-item .ab-icon:before { content: "\f463"; }
#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default > #wp-admin-bar-switch-db-dropin .ab-submenu input:checked + .ab-icon:before,
#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default > #wp-admin-bar-switch-db-dropin .ab-submenu input[checked="checked"] + .ab-icon:before { content: "\f147"; display: inline; }
